:root {
  --white: #fff;
  --black1: #001c1c;
  --black2: #023131;
  --gray: #607282;
  --text-color2: #3c5858;
  --text-color: #248888;
  --border-color: #bededa;
  --background-color: #f0f6f6;
  --red-main: #ff2e4c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--black1);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

header {
  padding: 20px 0;
  font-family: "Play", sans-serif;
  border-bottom: 1px dashed var(--border-color);
  background: var(--white);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container .logo {
  font-weight: 700;
  font-size: 44px;
  line-height: 115%;
  color: var(--black2);
}

header .container nav .nav__list {
  display: flex;
  align-items: center;
  column-gap: 25px;
  list-style-type: none;
}

header .container nav .nav__list--item a {
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

header .container .secondary-nav__list {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

header .container button {
  padding: 12px 34px 10px 20px;
  border-radius: 10px;
  border: transparent;
  background-color: var(--red-main);
  color: var(--white);
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
}

.wrapper {
  margin-top: 93px;
  display: flex;
  column-gap: 40px;
}

aside {
  padding: 20px;
  background: var(--background-color);
  max-width: 290px;
  font-family: "Play", sans-serif;
}

aside h3 {
  font-weight: 700;
  font-size: 44px;
  line-height: 115%;
  color: var(--black2);
}

aside .saleCount {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: var(--gray);
}

.card_container {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.card {
  background: var(--white);
}

.card img {
  /* border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color); */
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .card_info {
  border-bottom: 1px dashed var(--border-color);
  border-left: 1px dashed var(--border-color);
  border-right: 1px dashed var(--border-color);
  border-radius: 0 0 10px 10px;
  padding: 12px;
}

.card .card_info .company_link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--gray);
}

.card .card_info .card_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--black1);
  margin-bottom: 12px;
  height: 46px;
}

.card .card_info .sales_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.card .card_info .sales_container .cashback {
  display: flex;
  align-items: center;
}

.card .card_info .sales_container .sale_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--gray);
}

.card .card_info .sales_container .cashback .border_style {
  padding: 4px 8px 5px 8px;
  border-radius: 4px;
  border: 1px solid var(--gray);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--gray);
}

.card .card_info .sales_container .cashback .background_style {
  padding: 4px 8px 5px 8px;
  border-radius: 4px;
  background: var(--gray);
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  color: var(--white);
}

.card .card_info .card_category {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--gray);
}

aside .see_all {
  padding: 12px 34px 10px 20px;
  border-radius: 10px;
  border: transparent;
  background-color: var(--white);
  color: var(--text-color2);
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
}

main {
  margin-top: 40px;
  max-width: 970px;
  width: 100%;
  font-family: "Play", sans-serif;
}

main .top_sales {
  padding: 25px 30px;
  background: var(--background-color);
  border-radius: 10px;
}

main .top_sales h3 {
  font-weight: 700;
  font-size: 44px;
  line-height: 115%;
  color: var(--text-color);
  padding-bottom: 20px;
  border-bottom: 1px solid #bedada;
}

main .top_sales .tab {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

main .top_sales .tab .tab_item {
  padding: 15px 0;
  text-transform: uppercase;
}

.swiper {
  width: 100%;
  height: 355px;
  margin: 15px 0 0 0;
}

.swiper-wrapper {
  width: fit-content;
}

.swiper-slide {
  background: #fff;
  height: fit-content;
}

.swiper-slide .card {
  width: 100%;
}

main h4 {
  font-weight: 700;
  font-size: 28px;
  color: var(--black2);
  margin-top: 70px;
  margin-bottom: 16px;
}

main .text {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: var(--text-color2);
}

main .bold_text {
  font-weight: 700;
  font-size: 18px;
  color: var(--black1);
  margin-bottom: 12px;
}

main .light_text {
  color: var(--gray);
  margin-top: 12px;
  margin-bottom: 60px;
}

main .faq_title {
  font-weight: 700;
  font-size: 44px;
  line-height: 115%;
  color: var(--black2);
  margin: 60px 0 0 0;
}

.faq-item {
  border-bottom: 1px solid var(--border-color);
  padding: 25px 0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: var(--text-color2);
}

.faq-item:hover .faq-question {
  font-weight: 700;
  color: var(--black2);
}

.faq-item .faq-toggle svg path {
  transition: all 0.3s ease;
}

.faq-item:hover .faq-toggle svg path {
  stroke: var(--red-main);
}

.faq-answer {
  display: none;
  padding: 15px 78px 0 110px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--text-color2);
}

.faq-toggle {
  font-size: 1.5rem;
  color: #ccc;
  transition: transform 0.2s;
}

.faq-item.active .faq-answer {
  display: block;
}

.faq-item.active .faq-question {
  font-weight: 700;
  color: var(--black2);
}

.faq-item.active .faq-toggle {
  transform: rotate(45deg);
  color: #e74c3c;
}

.faq-item.active .faq-toggle svg path {
  stroke: var(--red-main);
}
